<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Possible values are QA, PROD-->
		<add key="Environment" value="PROD" />
		
		<!--Possible values are IE, Chrome, FF-->
		<add key="Browser" value="Chrome" />
		
		<!--Application URLs-->
		<add key="AlexsPetsURL.QA" value="http://nitro.duckdns.org/Pets.QA/index.html" />
		<add key="AlexsPetsURL.PROD" value="http://nitro.duckdns.org/Pets/index.html" />
	</appSettings>
</configuration>